<section class="todoapp">
    <app-add-user></app-add-user>

    <!-- This section should be hidden by default and shown when there are todos -->
    <section class="main">
        <input
            id="toggle-all"
            class="toggle-all"
            type="checkbox"
            (click)="toggleAll()" />
        <label for="toggle-all">Mark all as complete</label>

        <app-list-user></app-list-user>

    </section>
    <!-- This footer should hidden by default and shown when there are todos -->
    <app-footer-user></app-footer-user>
</section>
